@model IEnumerable<LMS.Core.Models.Activity>

<p>
    <a asp-action="Create">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @{ 
                var className = item.EndDateTime < DateTime.Now ? "late" : null;
            }
            <td>
                <div class="@className">@Html.DisplayFor(modelItem => item.Name)</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
