@model IEnumerable<LMS.Core.Models.Document>

@{
    ViewData["Title"] = "Index";
}

@*@Html.DisplayForModel()*@

<h1>Index</h1>

<p>
    <a asp-action="Create">Skapa nytt dokument</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feedback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Module.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
